app-root {
  @apply flex flex-col h-screen w-full;
}

header {
  @apply px-4 shadow items-center flex h-14 text-white flex-shrink-0;
}

main {
  @apply flex-grow;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}
